@font-face {
  font-family: 'Merriweather';
  src: url('./Merriweather-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'RootBold';
  src: url('./PTRootUIBold.woff2') format('woff2');
}

@font-face {
  font-family: 'RootMedium';
  src: url('./fonts/PTRootUIMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Root';
  src: url('./PTRootUIRegular.woff2') format('woff2');
}
